AGENT_TOKEN_MINT_ADDRESS=7FwcSCGFJMQbrmYYW5QKoZN2zQvDTbFejSUEUqQnpump
CURRENCY_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
PRICE_AMOUNT=1000000
SOLANA_RPC_URL=https://rpc.solanatracker.io/public
PORT=8080